@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    background-image: url('static/cake.jpg');
    background-repeat: no-repeat;
    background-color: black;
    background-position: top;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.clock, .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    min-width: 33%;
    margin-top: 2%;
}

.clock div {
    font-size: 30px;
    font-weight: bold;
    padding-left: 4%;
    padding-right: 4%;
}

.countdown-element p {
    text-align: center;
}